.coupon_nav_h5 {
    position: relative;
    z-index: 100;
    background-color: #fff;
}
.coupon_navbar[data-v-5e4f42cc] {
    display: flex;
}
.coupon_navbar_tab[data-v-5e4f42cc] {
    display: inline-block;
    flex: 1;
    position: relative;
    box-sizing: border-box;
    border-bottom: 0.025rem solid #ddd;
    text-align: center;
    font-size: 0.7rem;
    color: #333;
}
.coupon_navbar_text.cur[data-v-5e4f42cc] {
    color: #E93B3D;
    border-bottom: 0.1rem solid #E93B3D;
}
.coupon_navbar_text[data-v-5e4f42cc] {
    display: inline-block;
    color: #666;
    height: 2.25rem;
    line-height: 2.25rem;
    box-sizing: border-box;
}
.coupon_navbar_text .num[data-v-5e4f42cc] {
    margin-left: 0.25rem;
}
.coupon_filter_tabs[data-v-42cc3b9a] {
    height: 2.25rem;
    border-bottom: 0.025rem solid #e5e5e5;
    display: flex;
}
.coupon_filter_tab[data-v-42cc3b9a] {
    font-size: 0.7rem;
    color: #666;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_triangle.bottom[data-v-42cc3b9a] {
    margin-bottom: -0.3rem;
    border-color: #ccc transparent transparent transparent;
}
.icon_triangle[data-v-42cc3b9a] {
    width: 0;
    height: 0;
    border-width: 0.3rem 0.2rem;
    border-style: solid;
}
.ml10[data-v-42cc3b9a] {
    margin-left: 0.25rem;
}